.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  background: linear-gradient(to right, #4F39F6, #9514FA);
  border: none;
  border-radius: 10px;

  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}

/* Hover effect (jump + darker gradient) */
.btn-primary:hover {
  background: linear-gradient(to right, #4F39F6, #9514FA);
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Click effect */
.btn-primary:active {
  transform: scale(0.95);
}




/* bg-linear-to-r from-[#4F39F6] to-[#9514FA] */